# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# binaries
bin/

# Eclipse
.settings
.project
.cproject

#Benchmark images
benchmark/*.png
benchmark/*.txt
#data files too big
data/*
